body{
    background-image: url(http://ts2.mm.bing.net/th?id=OIP.hcxCrXaX045NTstKjmgzvwHaEJ&pid=15.1);
    background-repeat:no-repeat ;
    background-size: cover;
}
body{
    text-align: center;
}
h1{
    color: white;
}